h1 {
  color: pink;
}

.columns-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.columns-container div {
  position: absolute;
}

.card {
  width: 10vw;
  height: 15vh;
  background-color: peachpuff;
  color: peachpuff;
  border: 3px solid black;
  position: absolute;
}

.front {
  background-color: white;
  /* color: black; */
}

.hearts, .diamonds {
  color: red;
}

.clubs, .spades {
  color: black;
}

.back {
  color: peachpuff;
}
